<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs', {title: 'Write a Review | Vapor Vault'}) %>
    <link rel="stylesheet" href="/styles/album-form.css">
</head>

<body>
    
    <%- include('../partials/nav.ejs') %>

    <section>
        <h2 class="planetfont">Leave us your thoughts</h2>
        <h4 class="kungfont">You're writing a review for <a href="/albums/<%= album._id %>"><%= album.album %></a></h4>
    </section>

    <div class="content">
        <form action="/reviews/create/<%= album._id %>" method="POST">
            <div class="inputGroup">
                <!-- Name input -->
                <div class="InputContainer">
                    <input placeholder="Name..." id="reviewer" class="input" name="reviewer" type="text" required>
                </div>
                <!-- Title input -->
                <div class="InputContainer">
                    <input placeholder="Title..." id="title" class="input" name="title" type="text" required>
                </div>
                <!-- Content input -->
                <div class="InputContainer">
                    <input placeholder="Content..." id="content" class="input" name="content" type="text" required>
                </div>
                <!-- Submit button -->
                <input class="Btn" type="submit" value="Submit">
            </div>
        </form>
    </div>

    <%- include('../partials/footer.ejs') %>
    
</body>

</html>