<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs', {title: 'Reviews | Vapor Vault'}) %>
    <link rel="stylesheet" href="/styles/review-details.css">
</head>

<body>
    <%- include('../partials/nav.ejs') %>

    <section>
        <div class="card">
            <div class="inputGroup">
              <div class="input"> 
                <h1 class="kungfont">Name: <%= review.reviewer %></h1>             
                <h2>Title: <%= review.title %></h2>
                  <h3>Content: <%= review.content %></h2>
                  <h3>Date submitted: <%= review.reviewDate.toLocaleDateString() %></h2>
              </div>
            </div>
          </div>
          
        <form method="POST" action="/reviews/<%= review._id %>?_method=DELETE">
            <input class="Btn" type="submit" value="Delete" />
        </form>
    </section>

    <%- include('../partials/footer.ejs') %>

</body>

</html>
