<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs', {title: 'Reviews | Vapor Vault'}) %>
    <link rel="stylesheet" href="/styles/review-details.css">
</head>

<body>
    <%- include('../partials/nav.ejs') %>

    <section>
        <div class="card">
            <div class="inputGroup">
              <div class="input"> 
                <h2>Name: <%= review.name %></h2>     
                <h2>Album: <%= review.album %></h2><br>             
                <h2><%= review.title %></h2><br>
                <h3><%= review.content %></h3><br>
                <h3>Date submitted: <%= review.reviewDate %></h3><br>
                <h4 class="kungfont"><a target="_blank" href="<%= review.reviewLink %>" class="btn">Read the full review here</a></h4>
              </div>
            </div>
          </div>
          
        <form method="POST" action="/reviews/<%= review._id %>?_method=DELETE">
            <input class="Btn" type="submit" value="Delete" />
        </form>
    </section>

    <%- include('../partials/footer.ejs') %>

</body>

</html>
