<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs', {title: 'Reviews | Vapor Vault'}) %>
    <link rel="stylesheet" href="/styles/review-index.css">
</head>

<body>

    <%- include('../partials/nav.ejs') %>
    
    <div class="container">
        <section class="container">
            <div class="row"> 
                <% for (let review of reviews) { %>
                    <div class="col-md-3 col-sm-6">
                        <div class="card">
                            <p class="review-title"><%= review.title %></p>
                            <p><%= review.content %></p>
                            <a class="Btn kungfont" href="/reviews/<%= review._id %>">Read More</a> 
                        </div>
                    </div>
                <% } %>
            </div>
        </section>
    </div>

    <%- include('../partials/footer.ejs') %>
    
</body>

</html>

