<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs', {title: 'Collection | Vapor Vault'}) %>
    <link rel="stylesheet" href="/styles/album-index.css">
</head>

<body>
    <%- include('../partials/nav.ejs') %>
    <h1 class="responsive-header">Vapor Vault</h1>
            <div class="album-section">
                <div class="content-container">
                    <div class="row">
                        <% for (let album of albums) { %>
                            <div class="col-lg-2 col-md-4 col-6">
                                <figure class="featured-album">
                                    <img src="<%= album.photo %>" alt="album-cover" class="img-fluid album-image">
                                    <div class="details">
                                        <h3 class="album-title"><%= album.album %></h3>
                                        <a href="/albums/<%= album._id %>" class="btn">Details</a>
                                    </div>
                                </figure>            
                            </div>
                        <% } %>
                    </div>
                </div>
            </div>
    
    <%- include('../partials/footer.ejs') %>
    </main>
</body>

</html>