<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs', {title: 'Collection | Vapor Vault'}) %>
    <link rel="stylesheet" href="/styles/album-index.css">
</head>

<body>
    <%- include('../partials/nav.ejs') %>

    <div class="content-container">
        <main>
            <div class="row">
                <% for (let album of albums) { %>
    
                    <figure class="featured-album">
                        <img src="<%= album.photo %>" alt="album-cover" class="img-fluid">
                        <div class="details">
                            <h3><%= album.album %></h3>
                            <a href="/albums/<%= album._id %>" class="btn">Details</a>
                        </div>
                    </figure>            
                </div>
                <% } %>
            </div>
        </main>
    </div>        

 
        
    </main>

    <%- include('../partials/footer.ejs') %>
</body>

</html>