<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs', {title: `Edit ${album.album} | Vapor Vault`}) %>
    <link rel="stylesheet" href="/styles/album-form.css">
</head>

<body>
    <%- include('../partials/nav.ejs') %>


    <section>
        <h2 class="planetfont">Edit <%= album.album %> </h2>
    </section>
    
    <div class="content">
        <form method="POST" action="/albums/<%= album._id %>?_method=PUT">
            <div class="inputGroup">
                <!-- Artist input -->
                <div class="InputContainer">
                    <input placeholder="<%= album.artist %>" id="artist" class="input" name="artist" type="text">
                </div>
                <!-- Album input -->
                <div class="InputContainer">
                    <input placeholder="<%= album.album %>" id="album" class="input" name="album" type="text">
                </div>
                <!-- Release date input -->
                <div class="InputContainer">
                    <input placeholder="<%= album.releaseDate %>" id="releaseDate" class="input" name="releaseDate" type="date">
                </div>
                <!-- Where to listen input -->
                <div class="InputContainer">
                    <input placeholder="<%= album.whereToListen %>" id="whereToListen" class="input" name="whereToListen" type="text">
                </div>
                <!-- Photo input -->
                <div class="InputContainer">
                    <input placeholder="<%= album.photo %>" id="photo" class="input" name="photo" type="text">
                </div>
                <!-- Description input -->
                <div class="InputContainer">
                    <input placeholder="<%= album.description %>" id="description" class="input" name="description" type="text">
                </div>
            </div>
            <!-- Submit button -->
            <input class="Btn" type="submit" value="Submit">
        </form>
    </div>

    <%- include('../partials/footer.ejs') %>

</body>

</html>
