<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs', {title: `Edit ${album.album} | Vapor Vault`}) %>
    <link rel="stylesheet" href="/styles/album-form.css">
</head>

<body>
    <%- include('../partials/nav.ejs') %>

    <section class="hero">
        <h2>Edit an Album</h2>
    </section>

        <form method="POST" action="/pets/<%= album._id %>?_method=PUT">
            <!-- Artist input -->
            <label for="artist">Artist:</label>
            <input type="text" id="artist" name="artist" value="<%= album.artist %>" required>
            <br>
          
            <!-- Album input -->
            <label for="album">Album:</label>
            <input type="text" id="album" name="album" value="<%= album.album %>" required>
            <br>
          
            <!-- Release date input -->
            <label for="releaseDate">Release Date:</label>
            <input type="date" id="releaseDate" name="releaseDate" value="<%= album.releaseDate %>" required>
            <br>
          
            <!-- Where to listen input -->
            <label for="whereToListen">Where To Listen:</label>
            <input type="text" id="whereToListen" name="whereToListen" value="<%= album.whereToListen %>">
            <br>
          
            <!-- Photo input -->
            <label for="photo">Photo URL:</label>
            <input type="text" id="photo" name="photo" value="<%= album.photo %>" required>
            <br>
          
            <!-- Description input -->
            <label for="description">Description:</label>
            <textarea id="description" name="description" value="<%= album.description %>" required></textarea>
            <br>
          
            <!-- Submit button -->
            <input type="submit" value="Edit Album">

        </form>



    <%- include('../partials/footer.ejs') %>

</body>

</html>
